.paintShapes {
    width: 700px;
    height: 500px;
    background-size: cover;
}

.projectorImage {
    width: 1920px;
    height: 1079px;
    background-size: cover;
}

.paintShapes path {
    fill: #000;
    fill-opacity: 0.5;
    stroke: #f00;
    stroke-width: 5px;
}

.paintShapes path:hover {
    fill-opacity: 0.3;
}